#welcome{
  background-color: white;
  text-align: center;
  padding-bottom: 4%;
}

#hamburguesa{
  width: 40px;
  height: 40px;
}


#opciones{
  width: 60%;
  margin-left: 20%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 20%;
}

#ul{
  list-style: none;
}

a{
  text-decoration: none;
}

li:hover{
  background-color: black;
  color: white;
}


a:hover{
  color: rgb(235, 236, 231);
}

.enabled-menu{
  display: block;
}

.disabled-menu{
  display: none;
}

#pokeboll{
  height: 15%;
  width: 15%;
  float: right;
  padding-right: 28%;
}

#pokemon-title{
  height: 30%;
  width: 30%;
  padding-left: 20%;
}

#initial-question{
  background-color: rgb(194,12,12);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 20%;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 3%;
  margin-bottom: 0%;
}

#container{
  background-color: black;
  height: 500px;
  margin-top: 0%;
  color: white;
}

/* .ocultar{
  display: none;
} */

p{
margin: 0%;
font-family: 'Coiny', cursive;
}

/* #pokemones-unoxuno{
  background-image: url("imagenes/carta.png");
  background-repeat: no-repeat;
  background-size: 70%;
  height: 50%;
  width: 40%;
} */

#container_allPokemones{
  text-align: center;
}

.lista_de_pokemones{
  background-color: #D3D3D3;
  height: 600px;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  scrollbar-color: black;
  margin-bottom: 10px;
  margin-top: 10px;
  margin: blue;
}

#mostrando_lista_pokemones ul{
    margin: 15px;
    padding: 10px;
    display: flex;
    width: 98%;
    height: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: scroll;
    list-style: none;
}

li{
  margin: 10px;
  width: 26%;
  text-align: center;
  background-color: rgb(88,88,88,0.5);
  border-radius: 10px;

}

h2{
  margin: 0%;
  padding-top: 1%;
  font-family: 'Coiny', cursive;
}

.button_unoxuno{
  height: 40px;
  width: 130px;
  margin-top: 60px;
  background-color: #ccc;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  font-family: 'Coiny', cursive;
}

.button_unoxuno:hover{
  background-color: black;
  color: rgb(235, 236, 231);
}

.section2{
  height: 500px;
  background-color: rgb(194,12,12);
}