@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Creepster|Finger+Paint|Forum&display=swap');
*{
    margin: 0px;
    padding: 0px;
    background-size:cover;
    overflow:inherit;

}
#navegador {
    list-style-type: none;
    text-align: right;
    display: inline;
 }
 #navegador li{
    display: inline;
    text-align:right;
    margin: 0 10px 0 0;
 }
 #navegador li a {
    padding: 2px 7px 2px 7px;
    color: chartreuse;
    font-family:'Finger Paint', cursive;
    background-color: transparent;
    text-decoration: none;
    
 }
 #navegador li a:hover{
    background-color: dodgerblue;
    color: #ffffff;
 }
h1 {
    font-family:'Creepster', cursive;
    color: chartreuse;
    text-align: center;
    font-size: 60px;
}
h2{

    font-family:'Boogaloo', cursive;;
    color: dodgerblue;
    font-size: 35px;
    text-align: center;
}
h3{
    font-family:'Boogaloo', cursive;

    color: dodgerblue;
    font-size: 50px;
    text-align: center;
}

/* #buscador{
    text-align:left;
    margin: 15px;
    position: absolute;
    bottom: 10px;
} */
/* #boton-ricolor {
  position: absolute;
  bottom: 25px;
  left: 250px;
} */

/* #main-style{
  display:block;
  border-color: white;
  width:inherit;
  height:inherit;
} */


.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  padding: 0.9rem 0;
  border-radius: 1rem;
  width: 50vh;
  height: 65vh;
  background-color:black;
  font-size: small;
  text-align: center;
  text-overflow:inherit;
      color: chartreuse;
      flex-direction: row;
      flex-flow: column;

}

/* p{
   color:  dodgerblue;
   width: 100%;
   font-family: 'Boogaloo', cursive;
} */
