/* BOX SIZING */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }



/* SELECTORES DE ETIQUETA */

* {
    font-family: 'Dosis', sans-serif;
}
body {
    justify-content: center;
    margin: 0px;
    background-image: url(img/fondo.png);
    background-size: cover;
    
}


main {
    width: 1200px;
    height: auto;
    padding-bottom: 3rem;
    background-color: rgba(204,204,204,1);
    -webkit-box-shadow: 0px 53px 16px 12px rgba(155,242,185,0.177);
    -moz-box-shadow: 0px 53px 16px 12px rgba(155,242,185,0.177);
    box-shadow: 0px 53px 16px 12px rgba(155,242,185,0.177);

}

img {
    width: 100%;
}

footer {
    justify-content: center;
    text-align: center;
    color: white;
    /* background-color: aquamarine; */
}

header {
    width: 100%;
    background-color: rgba(0,0,0, 0.85);
    display: flex;
}


/* CLASES */

/* HEADER */
    .navigation-bar {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        margin: 0 auto;
        align-items: center;
        /* background-color: aqua; */
    }
    
    .navigation-bar div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2rem 0;
        height: 2.5rem;
    }
    
    
    #logo {
    
        width: 8rem;
    }
    
    #search {
        margin-right: 0px;
        width: 3.5rem;
        height: 2.5rem;
        border-radius: 3rem;
        border: #00B3CC solid 0.15rem;
    }
    
    #search:hover {
      width: 15rem;
      -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
      transition: width 0.5s;
    }
    
    #search:focus { 
        width: 15rem;
        outline: none;
        }

/* MAIN */

.content {
    display: flex;
    flex-direction: column;
    width: 1200px;
    align-items: center;
    /* background-color: blue; */
    border: none;
    margin: 0 auto;
}


/* BOTONES */

.navigation-bar button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    margin-left: -2.3rem;
} 


.button{
    border-color:#00B3CC;
    cursor: pointer;
    color: white;
    background-color: #00B3CC;
    -webkit-box-shadow: -9px 10px 16px -7px rgba(82,73,82,0.68);
    -moz-box-shadow: -9px 10px 16px -7px rgba(82,73,82,0.68);
    box-shadow: -9px 10px 16px -7px rgba(82,73,82,0.68);
    transition: 1ms;
}

.button:hover {
    background-color:#9BF2BA;
    border-color: rgb(133, 208, 150);
    color: black;

}

#catalog {
    width: 7rem;
    padding: 1rem;
    font-weight: 700;
    border-radius: 15px;
}



/* CAROUSEL */

.carousel {
    width: 1000px;
    height: 70vh;
    margin: 3rem auto;
    justify-content: center;
    text-align: center;
    display: flex;
}


/*DATA*/

.all-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;
    width: 1200px;
    height: 1000px;
    overflow: scroll;
    /* align-items: space-between;
    justify-items: space-between; */
}

.data-card {
      width: 30%;
      margin: auto; 
      align-items: center;
      border: #00B3CC 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    border: 1px  rgba(204,204,204,1) solid;
    padding: 2rem 0;
    border-radius: 1rem;
    -webkit-box-shadow: -9px 10px 5px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: -9px 10px 5px 0px rgba(0,0,0,0.11);
    box-shadow: -9px 10px 5px 0px rgba(0,0,0,0.11);
    background-color: rgba(255,255,255,0.6)

}

.info {
    max-width: 50%;
    text-align: center;
}

.character-name {
    font-weight: 600;

}

.character-img{
    display: flex;
    width: 60%;
    margin: 0 auto;
}


/* #img-carousel {
    width: 100%;
    height: 50vh;
    background-size: cover;
} */

/*ID*/

/* Characters */

#character-page {
    margin: 2rem 0;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.order-and-filter-button {
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}