/* BOX SIZING */


/******* GLOBALES *******/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* SELECTORES DE ETIQUETA */

* {
    font-family: 'Dosis', sans-serif;
}

body {
    justify-content: center;
    margin: 0px;
    background-image: url(img/fondo.png);
    background-size: cover;
}

main {
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
    background-color: rgba(204, 204, 204, 1);
    -webkit-box-shadow: 0px 53px 16px 12px rgba(155, 242, 185, 0.177);
    -moz-box-shadow: 0px 53px 16px 12px rgba(155, 242, 185, 0.177);
    box-shadow: 0px 53px 16px 12px rgba(155, 242, 185, 0.177);
}


/*RESPONSIVE*/

@media only screen and (min-width:768px) {
    
    header {
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.85);
        display: flex;
    }
    main {
        width: 1200px;
        margin: 0 auto;
    }
    .navigation-bar {
        width: 1200px;
        margin: 0 auto;
    }
    .content {
        width: 1200px;
        margin: 0 auto;
    }
}

img {
    width: 100%;
}

footer {
    justify-content: center;
    text-align: center;
    color: white;
    /* background-color: aquamarine; */
}

header {
    width: 100%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
}


/* CLASES */


/* HEADER */

.navigation-bar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    /* background-color: aqua; */
}

/* .navigation-bar div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 0;
    height: 2.5rem;
} */

#logo {
    width: 10rem;
    justify-content: center;
}


/* #search {
    margin-right: 0px;
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 3rem;
    border: #00B3CC solid 0.15rem;
}

#search:hover {
    width: 15rem;
    -webkit-transition: width 0.5s;
    /* For Safari 3.1 to 6.0 
    transition: width 0.5s;
}

#search:focus {
    width: 15rem;
    outline: none;
} */

@media only screen and (min-width:768px) {
    #logo {
        width: 8rem;
    }
}

/* MAIN */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    border: none;
    margin: 0 auto;
}


/* BOTONES */

.navigation-bar button,
.carousel a {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    margin-left: -2.3rem;
    text-align: center;
}

.carousel a {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.carousel i {
    vertical-align: center;
}

.button {
    border-color: #00B3CC;
    cursor: pointer;
    color: white;
    background-color: #00B3CC;
    -webkit-box-shadow: -9px 10px 16px -7px rgba(82, 73, 82, 0.68);
    -moz-box-shadow: -9px 10px 16px -7px rgba(82, 73, 82, 0.68);
    box-shadow: -9px 10px 16px -7px rgba(82, 73, 82, 0.68);
    transition: 1ms;
}

.button:hover {
    background-color: #9BF2BA;
    border-color: rgb(133, 208, 150);
    color: black;
}

#catalog {
    width: 7rem;
    padding: 1rem;
    font-weight: 700;
    border-radius: 15px;
}

.order-and-filter-button {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


/* CAROUSEL */

.carousel {
    width: 1000px;
    height: 70vh;
    margin: 3rem auto;
    justify-content: space-between;
    text-align: center;
    display: flex;
}

.slide {
    width: 100%;
    display: flex;
    background-image: url(img/fondo-slide.jpg);
    /* background-size: cover; */

}

#facts {
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: #9BF2BA;
    
}

@media only screen and (min-width:768px) {
    .slide {
        width: 80%;
    }
}


/*DATA*/

.all-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;
    width: 1200px;
    height: 1000px;
    overflow: scroll;
    /* align-items: space-between;
    justify-items: space-between; */
}

.all-data::-webkit-scrollbar {
    background-color: #00B3CC;
    height: 0px;
    border-radius: 1rem;
    cursor: pointer;
}

.all-data::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 1rem;
}

.all-data::-webkit-scrollbar-thumb:hover {
    background: #9BF2BA;
    border-radius: 1rem;
    cursor: pointer;
}

.data-card {
    width: 30%;
    margin: auto;
    align-items: center;
    border: #00B3CC 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    /* border: 1px rgba(204, 204, 204, 1) solid; */
    padding: 2rem 0;
    border-radius: 1rem;
    -webkit-box-shadow: -9px 10px 5px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: -9px 10px 5px 0px rgba(0, 0, 0, 0.11);
    box-shadow: -9px 10px 5px 0px rgba(0, 0, 0, 0.11);
    background-color: rgba(255, 255, 255, 0.6)
}

.info {
    max-width: 50%;
    text-align: center;
}

.character-name {
    font-weight: 600;
}

.character-img {
    display: flex;
    width: 60%;
    margin: 0 auto;
}


/* #img-carousel {
    width: 100%;
    height: 50vh;
    background-size: cover;
} */


/*ID*/

#back,
#next {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25% 0 0 0;
}


/* Characters */

#character-page {
    margin: 2rem 0;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}